<h2>Add Contact
    <button type="button" class="btn btn-default btn-sm pull-right" name="cancel">
        <span class="glyphicon glyphicon-remove"></span> Cancel
    </button>
</h2>
<hr>
<form>
    <div class="row">
        <div class="col-md-6">
            <div class="form-group">
                <label for="firstName">First Name</label>
                {{firstName}}
            </div>
        </div>
        <div class="col-md-6">
            <div class="form-group">
                <label for="lastName">Last Name</label>
                {{lastName}}
            </div>
        </div>
    </div>
    <div class="row">
        <div class="col-md-6">
            <div class="form-group">
                <label for="email">Email Address</label>
                {{email}}
            </div>
        </div>
        <div class="col-md-6">
            <div class="form-group">
                <label for="phone">Phone Number</label>
                {{phone}}
            </div>
        </div>
    </div>
    <div class="row">
        <div class="col-md-6">
            <div class="form-group">
                <label for="addr1">Address</label>
                {{addr1}}<br>
                {{adddr2}}
            </div>
        </div>
    </div>
    <div class="row">
        <div class="col-md-6">
            <div class="form-group">
                <label for="city">City</label>
                {{city}}
            </div>
        </div>
        <div class="col-md-4">
            <div class="form-group">
                <label for="state">State</label>
                {{state}}
            </div>
        </div>
        <div class="col-md-2">
            <div class="form-group">
                <label for="zip">Zip</label>
                {{zip}}
            </div>
        </div>
    </div>

</form>